.buttonsContainer {
    display: flex;
    gap: 24px;
    margin: 8px 0 40px;
}

.responseContainer {
    position: relative;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.imageContainer {
}

.image {
    width: 450px;
    height: 300px;
}

.textContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.code {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 12px;
}

.text, .info {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
}