.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 41px;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative;
    width: max-content;
    text-align: start;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 13px;
    border-radius: 10px 10px 10px 0px;
    background: #F5F7FB;
    color: black;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03),
    0px 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -14px;
    display: block;
    width: 14px;
    height: 14px;
    background: radial-gradient(28px at top left, transparent 49%, #F5F7FB 51%) no-repeat right bottom;
}

.friendName {
    font-weight: 600;
    text-align: start;
}

.friendMessageText {
    min-width: 150px;
    max-width: 500px;
    font-size: 16px;
    line-height: 20px;
    white-space: pre-line;
}

.friendTime {
    font-weight: 600;
    color: black;
}
