.button {
    padding: 5px 24px;
    min-width: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    text-transform: capitalize;
    transition: all 0.2s;
    outline: none;
}

.button:hover {
    cursor: pointer;
}

.disabled, button:disabled {
    box-shadow: none;
    background-color: #004D99;
    color: #002E5C;
    opacity: 0.5;
}

.disabled:hover {
    cursor: not-allowed;
}

.secondary {
    color: #0066CC;
    background-color: transparent;
    border: 1px solid #0066CC;
}

.default {
    background-color: #0066CC;
}

.red {
    background-color: #CC1439;
}

.default:hover, .default:focus {
    background-color: #0080FF;
}

.red:hover, .red:focus {
    background-color: #FF1A47;
}

.secondary:hover, .secondary:focus {
    background-color: #E5F0FA;
}


.default:active {
    background-color: #0059B3;
}

.red:active {
    background-color: #B31232;
}

.secondary:active {
    background-color: #C9E5FF;
}

