.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 44px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.number {
    text-align: end;
    display: inline-block;
    width: 28px;
    font-size: 16px;
    font-weight: 600;
}
